<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><a href="{{ .Site.BaseURL }}"><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></a></header>
<h1 style="text-align: center; color:rgb(227, 66, 55)">corejournal</h1>
<br>
<img src="pics/landscape.png">
<p style="text-align: center;">I have a lot of great plans for this website. I hope you enjoy your stay.</p>
<p style="text-align: center;">Read the About Me page for more information about me.</p>
<hr>
<ul class="icon-menu">
	<li><a href="{{ .Site.BaseURL }}/about"><img src="/pics/about.png">  </a></li>
	<li><a href="{{ .Site.BaseURL }}/contact"><img src="/pics/letter.svg">  </a></li>
	<li><a href="{{ .Site.BaseURL }}/support"><img src="/pics/xmr.svg">  </a></li>
</ul>

<hr>
<br>
<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</article>

<h3 style="text-align: center;" class="section_header">Posts</h3>
<br>
<ul style="list-style-type: none;">
    {{- range .Pages }}
        {{- if not .Params.exclude }} <!-- Add this condition to exclude certain pages -->
            <li>
                {{- if .Param "datesinlist" }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" style="font-family: monospace;">{{ .Date.Format "2006 Jan 02" }}</time> &ndash; {{ end -}}
                <a href="{{ .RelPermalink }}" style="color: #5ce8d5; text-decoration: none;">{{ .Title }}</a>
                {{- if .Params.authorsinlist }}
                    {{ with .Params.authors }}
                        by {{ delimit . ", " " and " }}
                    {{ end }}
                {{ end -}}
            </li>
        {{- end }}
    {{- end }}
</ul>


</main>
{{ block "footer" . }}
<footer>
	<br> <br>
	<a href="{{ .Site.BaseURL }}" id="base-url" style="color: greenyellow;">Back to Top</a> 
	<br><br>
	Monero (<a href="/pics/monero.png">QR</a>): <br><codes style="font-size: x-small; color:rgb(227, 66, 55)">875rb2p5mfjbAsBT7vbZKvGWM864haZsC5j4LmbzhuNKJBY79LwJ9rveK3hP2HkS2G31f4JDJNhM38sedJ3LgfSqPeopjRU</code>
</footer>
{{ end }}
</body>
</html>
