<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>corejourney</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><a href="{{ .Site.BaseURL }}"><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></a></header>
<h1 style="text-align: center; color:rgb(227, 66, 55)">corejourney</h1>
<br>
<!-- <img src="pics/gallerywallpaper.png" style="max-width: 90%;"> -->
<p style="text-align: center;  font-size: 20px;">"<i>Sleeping... Sleeping...</i>"</p>
<p style="text-align: center;">I hope you enjoy your stay.</p>
<br>
<ul class="icon-menu">
	<li><a href="{{ .Site.BaseURL }}/about" title="about me"><img src="/pics/about.png">  </a></li>
	<li><a href="{{ .Site.BaseURL }}/contact" title="contact info"><img src="/pics/letter.png">  </a></li>
	<!-- <li><a href="{{ .Site.BaseURL }}/mine" title="image collection"><img src="/pics/images.png">  </a></li> -->
	<li><a href="{{ .Site.BaseURL }}/journal" title="journal entries"><img src="/pics/journal.png">  </a></li>
	<li><a href="{{ .Site.BaseURL }}/books" title="books i have and appreciate"><img src="/pics/library.svg"> </a></li>
	<li><a href="{{ .Site.BaseURL }}/support" title="money"><img src="/pics/piggy.svg">  </a></li>
</ul>

<br>
<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</article>

<br>

</main>
{{ block "footer" . }}
<footer>
	<br> <br>
	<br><br>
</footer>
{{ end }}
</body>
</html>
