body {
	font-family: sans-serif ;
	/* background: #1b1b1b; */
	/* background: #121212; */
	background: rgb(238, 236, 236);

	color: #ccc ;
}

@font-face {
  font-family: CenturyExpanded;
  src: url(cer.otf);
}

@font-face {
  font-family: Akwe;
  src: url(akwe.ttf);
}



.website_link {
	color: #5ce8d5;
	text-decoration: none;
}

blockquote {
	color: #789922;
}

#linker {
	list-style: none ;
	text-align: center ;
	font-size: 48pt ;
	margin: 0 ;
}

#linker li {
	display: inline ;
	padding: .1em ;
	margin: .1em ;
}

.icon-menu {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgb(232, 226, 226);
	border: 1px solid rgb(214, 204, 204);
  }

  .icon-menu li {
	margin: 0 15px;
  }

  .icon-menu img {
	max-width: 50px;
	vertical-align: middle;
  }

  .icon-menu a {
	text-decoration: none;
	color: #333;
	text-align: center;
  }

  .icon-menu a i {
	font-size: 24px;
	display: block;
	margin-bottom: 5px;
  }

  .icon-menu a:hover {
	border: #5a99dd;
  }

em {
	color: rgb(119, 111, 111);
}

a {
	color: #5c6ce8;
	font-family: CenturyExpanded;
	text-decoration: none;
}

strong {
	color: rgb(222, 118, 43);
}

main {
	max-width: 650px ;
	margin: auto ;
}

h4 {
	font-size: small;
	color: rgb(227, 66, 55);
}

img {
	max-width: 70% ;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
	font-family: CenturyExpanded;
	color: rgb(33, 32, 32);
}

.section_header {
	color: #248bda;
}

h2 {
	text-align: center;
	color: #248bda;
	font-family: CenturyExpanded;
}

h3 {
	text-align: center;
	color: rgb(16, 16, 16);
	font-size: large;
	font-family: CenturyExpanded;
}

#no-center {
	text-align: left;
	color: rgb(16, 16, 16);
	font-size: large;
}

#base-url {
	color: whitesmoke;
	text-decoration: none;
}

p {
	font-family: CenturyExpanded;
	color: rgb(52, 50, 50);
}

header h1 {
	text-align: center ;
}

h1 {
	text-align: center ;
	color: #248bda;
	font-size: xx-large;
	font-family: CenturyExpanded;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

.caption_text p {
	font-style: italic;
    text-align: center;
	color: rgb(204, 190, 190);
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

blockquote p {
	color: #789922;
	font-family: Arial, Helvetica, sans-serif;
}