<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>corejournal</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel="stylesheet" href="{{ "style.css" | relURL }}">
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><a href="{{ .Site.BaseURL }}"><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></a></header>
<a href="{{ .Site.BaseURL }}"><h1 style="text-align: center; color:#2442da">corejournal</h1></a>
<br>
<!-- <img src="/pics/shore-edit1.png" style="max-width: 70%;"> -->

<!-- 6283e0 -->

<br>
<!-- <h2>Story Entries</h2> -->
<br>


<a href="{{ .Site.BaseURL }}/the_deep_page_exp" style="color: #5c6ce8; text-decoration: none;"><p style="text-align: center; color: #5c6ce8; font-size: 20px;">What is this page?</p></a>

<br>


<h2 style="text-align: center;">Stories</h2>
<ul style="list-style-type: none;">
    {{- range .Site.RegularPages }}
        {{- if (and .Params.deep (eq .Params.deep_type "story"))}}
            <li>
                {{- if .Param "datesinlist" }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" style="font-family: monospace; color: rgb(33, 32, 32);">{{ .Date.Format "2006 Jan 02" }}</time> &ndash; {{ end -}}
                <a href="{{ .RelPermalink }}" style="color: #5c6ce8; text-decoration: none;">{{ .Title }}</a>
                {{- if .Params.authorsinlist }}
                    {{ with .Params.authors }}
                        by {{ delimit . ", " " and " }}
                    {{ end }}
                {{ end -}}
            </li>
        {{- end }}
    {{- end }}
</ul>

<h2 style="text-align: center;">Translations</h2>
<h2 style="text-align: center;">Essays/Articles</h2>


<br> <br><br>


</main>
<footer>
	<br> <br><br>
	<a href="{{ .Site.BaseURL }}" id="base-url" style="color: #5c6ce8;">Back to Main</a> 
	<br><br>
</footer>
</body>
</html>
