<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>corejournal</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel="stylesheet" href="{{ "style.css" | relURL }}">
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><a href="{{ .Site.BaseURL }}"><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></a></header>
<a href="{{ .Site.BaseURL }}"><h1 style="text-align: center; color:rgb(227, 66, 55)">corejournal</h1></a>
<br>
<img src="/pics/DSC00139.JPG">

<h2>Entries</h2>
<br>
<ul style="list-style-type: none;">
	<hr>
    {{- range .Site.RegularPages }}
        {{- if not .Params.exclude }}
            <li>
                {{- if .Param "datesinlist" }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" style="font-family: monospace;">{{ .Date.Format "2006 Jan 02" }}</time> &ndash; {{ end -}}
                <a href="{{ .RelPermalink }}" style="color: #5ce8d5; text-decoration: none;">{{ .Title }}</a>
                {{- if .Params.authorsinlist }}
                    {{ with .Params.authors }}
                        by {{ delimit . ", " " and " }}
                    {{ end }}
                {{ end -}}
            </li>
			<hr>
        {{- end }}
    {{- end }}
</ul>
<br> <br><br>

<div style="clear:both" class=taglist>
	<h3>Article tags:<br></h3>
		<a href="{{ .Site.BaseURL }}/tags/language" style="font-family: 'Times New Roman', Times, serif;">🈶Language</a> &middot;
		<a href="{{ .Site.BaseURL }}/tags/literature" style="font-family: 'Times New Roman', Times, serif;">📖Literature</a> &middot;
		<a href="{{ .Site.BaseURL }}/tags/lifestyle" style="font-family: 'Times New Roman', Times, serif;">🚶‍♀️Lifestyle</a> &middot;
		<a href="{{ .Site.BaseURL }}/tags/personal" style="font-family: 'Times New Roman', Times, serif;">🧑Personal</a> &middot;
		<a href="{{ .Site.BaseURL }}/tags/technology" style="font-family: 'Times New Roman', Times, serif;">💻Internet</a> &middot;
		<a href="{{ .Site.BaseURL }}/tags/tutorial" style="font-family: 'Times New Roman', Times, serif;">💡Tutorial</a> &middot;
		<a href="{{ .Site.BaseURL }}/tags/updates" style="font-family: 'Times New Roman', Times, serif;">🤭Updates</a>
	<p>Some tags may not exist yet.</p>
</div>

</main>
<footer>
	<br> <br><br>
	<a href="{{ .Site.BaseURL }}" id="base-url" style="color: greenyellow;">Back to Main</a> 
	<br><br>
	<a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe to the RSS Feed~!"></a>
</footer>
</body>
</html>
