<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>images</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel="stylesheet" href="{{ "style.css" | relURL }}">
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><a href="{{ .Site.BaseURL }}"><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></a></header>
<a href="{{ .Site.BaseURL }}"><h1 style="text-align: center; color:rgb(227, 66, 55)">music i like</h1></a>
<br>

<style>

.titleleft {
	text-align: left;
}

.titleright {
	text-align: right;
}

.imageleft {
	width: 200px; height: auto; float: right;  margin: 0 0 0 15px;
}

.imageright {
	width: 200px; height: auto; float: left;  margin: 0 0 0 0px;
}

.paragraph-text {
	font-size: small; 
	text-decoration: none; 	
	color: rgb(16, 16, 16); 
	font-weight: 400;
}

.margin-div {
	margin-bottom: 190px;
}

</style>

<br>
<br>

<div class="margin-div">
	<h3 class="titleleft">
		for the rest of your life - twikipedia
		
		<img src="/pics/music/fortherestofyourlife.jpg" class="imageleft">
		<p class="paragraph-text">
			words cannot express fawnfwanfjanwjfn wanfjkwanfjknwakjnf wjfnwkawnnfwjanfjn <br>
			cannot
		</p>
	</h3>
</div>

<div class="margin-div">
	<h3 class="titleright">
		余波 - 卧轨的火车
		
		<img src="/pics/music/yupao.png" class="imageright">
		<p class="paragraph-text">
			That's something that can never happen
		</p>
	</h3>
</div>

<div class="margin-div">
	<h3 class="titleleft">
		your life is meaningless lol - drug bug
		
		<img src="/pics/music/yourlifeismeaningless.jpg" class="imageleft">
		<p class="paragraph-text">
			words cannot express fawnfwanfjanwjfn wanfjkwanfjknwakjnf wjfnwkawnnfwjanfjn <br>
			cannot
		</p>
	</h3>
</div>

**todo include happy smile, bl4ck m4rket c4rt, chestnut bakery (diaries)

<div style="margin-bottom: 400px;">
	<h3 class="titleleft">Miscellaneous artists I didn't bother writing about (but I enjoy)</h3>
	<li>
		<ul><p></p></ul>
	</li>
</div>


</p>


</body>
</html>
