<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>My Favourite Music</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel="stylesheet" href="{{ "style.css" | relURL }}">
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><a href="{{ .Site.BaseURL }}"><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></a></header>
<a href="{{ .Site.BaseURL }}"><h1 style="text-align: center; color:rgb(227, 66, 55)">My Favourite Music</h1></a>
<br>

<style>

.titleleft {
	text-align: left;
}

.titleright {
	text-align: right;
}

.imageleft {
	width: 200px; height: auto; float: right;  margin: 0 0 0 15px;
}

.imageright {
	width: 200px; height: auto; float: left;  margin: 0 0 0 0px;
}

.paragraph-text {
	font-size: small; 
	text-decoration: none; 	
	color: rgb(16, 16, 16); 
	font-weight: 400;
}

.margin-div {
	margin-bottom: 200px;
}

</style>

<br>
<br>

<h3>the images = links</h3>
<p style="text-align: center; font-size: xx-small;">mobile users: use landscape mode for better experience. im too lazy to accomodate yall lol</p>
<br>

<p style="text-align: center; font-size: 18px;">Since most people do not listen to music suggestions upfront, I hope that discussing (and glazing) my favourites is more effective. Please enjoy.</p>


<br>
<div class="margin-div">
	<h3 class="titleleft">
		for the rest of your life - twikipedia
		
		<a href="https://twikipedia.bandcamp.com/album/for-the-rest-of-your-life" target="_blank"><img src="/pics/music/fortherestofyourlife.jpg" class="imageleft"></a>
		<p class="paragraph-text">
			To me this album always feels like the summer of 2024. That time period was an exceptionally
			hard time for me due to a large change that was going on with my life. As a result, I will always have this album close to my heart. <br> <br>
			
			This album is a large genre shift from laura's usual work (from rap to indie rock). I've been a fan of hers for a decently long time (since chronic?) and her artistic shift is extremely welcome. The mixing, vocals and lyrics all spoke to me heavily, creating emotions that I thought I had forgotten. I hope it does the same for you. <br> <br>

			<strong style="color:black">favourite track – far apart</strong>
		</p>
	</h3>
</div>

<div class="margin-div">
	<h3 class="titleright">
		Days Become Years - Cyborg9K
		
		<a href="https://lieutenantkovalev.bandcamp.com/album/days-become-years" target="_blank"><img src="/pics/music/daysbecomeyears.jpg" class="imageright"></a>
		<p class="paragraph-text">
			I'm not exactly sure why Cyborg9K's music has become associated with the worst people on the internet, 
			especially since their song's messages have never been nihilistic or filled with dog whistles like the genre it's mostly
			grouped with. (the only apparent similarity being references to terminally online internet culture.) <br> <br>
			Whatever the case, I've listened to Cyborg9K's music since 2023, and Days Become Years is their most memorable album. This is due to the album being a departure from most of their previous work, as it's far more melancholic both in style and lyrics.
			<br> <br>

			<strong style="color:black">favourite track – Tennessee Afternoon</strong>
		</p>
	</h3>
</div>

<div class="margin-div">
	<h3 class="titleleft">
		Happy Smile - Gezebelle Gaburgably
		
		<a href="https://gezebellegaburgably.bandcamp.com/album/happy-smile" target="_blank"><img src="/pics/music/happysmile.jpg" class="imageleft"></a>
		<p class="paragraph-text">
			That's something that can never happen <br> <br>

			<strong style="color:black">favourite track – Broken Hearted</strong>
		</p>
	</h3>
</div>


<div class="margin-div">
	<h3 class="titleright">
		Today I Laid Down - bl4ck m4rket c4rt
		
		<a href="https://bl4ckm4rketc4rt.bandcamp.com/album/today-i-laid-down" target="_blank"><img src="/pics/music/todayilaiddown.jpg" class="imageright"></a>
		<p class="paragraph-text"> 
			What the hell. Rip Kai. <br> <br>

			<strong style="color:black">favourite track – Short Sleeves</strong>
		</p>
	</h3>
</div>

<div class="margin-div">
	<h3 class="titleleft">
		Diaries - Chestnut Bakery
		
		<a href="https://boringproductions.bandcamp.com/album/diaries" target="_blank"><img src="/pics/music/diaries.jpg" class="imageleft"></a>
		<p class="paragraph-text">
			That's something that can never happen <br> <br> <br>
			<strong style="color:black">favourite track – Train</strong>
		</p>
	</h3>
</div>


<div style="margin-bottom: 400px;">
	<h3 class="titleleft">Miscellaneous artists I didn't bother writing about (but I enjoy)</h3>
	<ul>
		<li><p>WillyRodriguezWasTaken</p></li>
		<li><p>Black Dresses</p></li>
		<li><p>key vs locket (twikipedia's new moniker)</p></li>
		<li><p>i9bonsai</p></li>
		<li><p>Billionhappy</p></li>
		<li><p>张学友</p></li>
		<li><p>Effie</p></li>
		<li><p>My Chemical Romance</p></li>
		<li><p>DJ小女孩</p></li>
		<li><p>the neverminds</p></li>
		<li><p>Schoolgirl Byebye</p></li>
		<li><p>Jack Stauber</p></li>
		<li><p>卧轨的火车</p></li>
		<li><p>Junshi</p></li>
	</ul>
	<p>if you recognize any of these ur a real one</p>
</div>

</p>


</body>
</html>
